# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
.env
.venv
env/
venv/
ENV/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Logs
*.log
desbloqueio_error_log.txt

# Executáveis
*.exe
chromedriver.exe

# Sistema
.DS_Store
Thumbs.db

# Arquivos específicos do projeto
DesbloqueiaIP1.0.py
DesbloqueadorIP.exe
DesbloqueadorIP.spec 